/*Aluno: Caio Vinicius Trigo Ferreira Santos | RU: 4222643*/

body{ 
    background-color: blueviolet; /* Cor de fundo da página*/
    color: white; /* Cor do texto na página*/
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif/* Fonte do texto na página*/
}

ul{ /* Estilização dos itens da barra de navegação*/
    display: flex; /* Comando para alinhar lado a lado.*/
    justify-content: space-between; /* Comando para justificar.*/
    list-style-type: none;/* Comando remove os marcadores.*/
    align-items: center;/* Comando para centralizar.*/
    padding: 16px;/* Comando para definir a distância entre um elemento e as bordas.*/
}

a{/* Estilização dos links da barra de navegação*/
    color: white;/* Cor do texto dos links*/
    text-decoration: none;/* Remove a linha abaixo dos links*/
}

header img{/* Estilização somente da imagem na introdução da página*/
    width: 150px; height: 150px; /* Largura e altura da imagem*/
    border-style: 50%;/* Comando para acrescentar um contorno ao redor da imagem*/
    border: 2px solid white;/*Comando para deixar uma borda de 2 pixels, sólida na cor branca*/
}
.centralizar{ /* Classe para centralizar o conteúdo da página.*/
    text-align: center;/* Comando para centralizar o conteúdo da página*/
}
h1{/*Estilização do título página*/
    color: white;/* Cor do título da página*/
}

footer img{/* Estilização somente das imagens no rodapé da página*/
    width: 70px; height: 70px;/* Largura e altura da imagem*/
    }

footer{/* Estilização dos links e imagems no rodapé da página*/
    display: flex; /* Comando para alinhar lado a lado*/
    justify-content: center;/* Comando para centralizar o conteúdo*/
}
footer a{/* Estilização do espaçamento do rodapé da página*/
    margin: 20px;
    text-align: center;

}
.container{/* Classe para estilização da página*/
    padding: 0px 50px;/* comando para ajuste da margem do conteúdo da página */
    width: 50%;
    margin: auto;
    text-align: justify;
    
}
nav a:hover{/* Estilização dos itens da barra de navegação*/
    color:rgb(255, 0, 242);/* Cor do texto nos links ao passar o mouse*/
}